﻿@model IEnumerable<Repair>

<table class="table" style="background-color:dimgray">
    <thead>
        <tr>
            <th>Samochód</th>
            <th>Opis usterki</th>
            <th>Czy naprawiono?</th>
            <th>Data naprawy</th>
            <th>
                <a asp-action="Create" class="btn btn-danger btn-sm">Dodaj nową usterkę</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>TODO</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.IsFixed)</td>
                <td>@Html.DisplayFor(modelItem => item.FixedDate)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>