﻿@model FollowTheFleet.Model.Car

<h2> @Model.Brand</h2>

<div class="thumbnail">
    <img alt="@Model.Brand" src="@Model.PhotoUrl" />
    <div class="caption-full">
        <h3 class="pull-right">Kierowca: @Model.Owner</h3>
        <h3>
            <a href="#">@Model.ServiceDate</a>
        </h3>
        <h4>Rok produkcji : @Model.YearOfProduction</h4>
        <h4>Przebieg: @Model.Mileage</h4>
        <p>Opis: @Model.Description</p>
    </div>
</div>