﻿@model FollowTheFleet.ViewModels.HomeVM

<h2>@Model.Name</h2>
@foreach (var car in Model.Cars)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@car.ThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@car.Brand</h3>
                <h3>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@car.Id">@car.Brand</a> - @car.Brand
                </h3>
                <h4>
                    Kierowca : @car.Owner
                </h4>
                <h4>
                    Pojemność : @car.Capacity
                </h4>
                <h4>
                    Moc : @car.Power
                </h4>
                <h4>
                    Data ostatniego przeglądu : @car.ServiceDate
                </h4>
                <h4>
                    Posiada ubezpieczenie: @car.Insurance
                </h4>
                <p>@car.Description</p>
            </div>
        </div>
    </div>
}