﻿@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
@inject SignInManager<IdentityUser> SighnInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css?v=1.2" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">


                @if (SighnInManager.IsSignedIn(User))
                {
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a></li>
                    <li><a asp-controller="Car" asp-action="Index" class="navbar-brand">Lista samochodów</a></li>
                    <li><a asp-controller="Repairs" asp-action="Index" class="navbar-brand">Lista napraw</a></li>
                    
                </ul>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                          method="post" class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
                        </ul>
                    </form>

                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Account" asp-action="Register" class="navbar-brand">Rejestracja</a></li>
                        <li><a asp-controller="Account" asp-action="Login" class="navbar-brand">Logowanie</a></li>
                    </ul>

                }

            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
