﻿@model Car

<div>
    <div class="thumbnail">
        <div class="row">
            <div class="col-md-6">
                <img alt="@Model.Brand" src="@Model.PhotoUrl" height="500" width="500" />
            </div>
            <div class="col-md-3">
                <h3>@Model.Brand - @Model.Type</h3>
                <h4>@Model.YearOfProduction</h4>
                <h4>@Model.Mileage</h4>
                <h4>@Model.Owner</h4>
                <h4>@Model.Insurance</h4>
                <h4>@Model.ServiceDate</h4>
                <h4>@Model.LicensePlate</h4>
                <p>@Model.Description</p>
            </div>
            <div class="col-md-3" style="padding-right:50px">
                <h3 class="pull-right">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edycja</a>
                    <a asp-action="Index" class="btn btn-success">Powrót</a>
                </h3>
            </div>
        </div>
    </div>
</div>