﻿@model Car

<h2>Edytuj Samochod</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="UploadFile">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <label class="control-label">Zdjęcie samochodu</label><br />
                <img src="@ViewBag.ImgPath" height="300" width="300" /><br />
                <input type="file" name="file" style="margin-top:10px" />
            </div>
            <div class="form-group">
                <input type="submit" value="Załaduj zdjęcie" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Marka</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Typ</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfProduction" class="control-label">Rok Produkcji</label>
                <input asp-for="YearOfProduction" class="form-control" />
                <span asp-validation-for="YearOfProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label">Przebieg</label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Insurance" class="control-label">Ubezpieczenie?</label>
                <input asp-for="Insurance" class="form-control" />
                <span asp-validation-for="Insurance" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ServiceDate" class="control-label">Data ostatniego przeglądu</label>
                <input asp-for="ServiceDate" class="form-control" />
                <span asp-validation-for="ServiceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Owner" class="control-label">Właściciel</label>
                <input asp-for="Owner" class="form-control" />
                <span asp-validation-for="Owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PhotoUrl" value="@ViewBag.ImgPath" />
            <input type="hidden" asp-for="ThumbnailUrl" value="@ViewBag.ImgPath" />
            <div class="form-group">
                <input type="submit" value="Zapisz edycje" class="btn btn-success" style="margin-top:30px" />
                <a asp-action="Index" class="btn btn-danger pull-right" style="margin-top:30px">Powrót</a>
            </div>
        </div>
    </form>
</div>
