﻿@model IEnumerable<Car>

<form asp-controller="Car" asp-action="Index" method="get">
    <p>
        <input type="text" name="searchString">
        <input type="submit" class="btn btn-success btn-sm" style="margin-bottom:3px" value="Szukaj" />
    </p>
</form>

<table class="table" style="background-color:azure">
<thead>
    <tr>
        <th>Marka</th>
        <th>Typ</th>
        <th>Rok</th>
        <th>Przebieg</th>
        <th>Numer rejestracyjny</th>
        <th>Właściciel</th>
        <th>Ubezpieczenie</th>
        <th>Data przeglądu</th>
        <th>Opis</th>
        <th>
            <a asp-action="Create" class="btn btn-danger btn-sm">Dodaj nowy</a>
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Brand)</td>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.YearOfProduction)</td>
            <td>@Html.DisplayFor(modelItem => item.Mileage)</td>
            <td>@Html.DisplayFor(modelItem => item.LicensePlate)</td>
            <td>@Html.DisplayFor(modelItem => item.Owner)</td>
            <td>@Html.DisplayFor(modelItem => item.Insurance)</td>
            <td>@Html.DisplayFor(modelItem => item.ServiceDate)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td><img src="@item.ThumbnailUrl" height="100" width="100" /></td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Szczegóły</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="margin-bottom:3px">Usuń</a>
            </td>
        </tr>
    }
</tbody>
</table>