﻿body {
    padding-top:80px;
    padding-bottom:20px;
    background-image: url('/images/pattern2.png');
    background-repeat: repeat;
}

.body-content{
    padding-left: 10px;
    padding-right:10px;
}
